

.sr-only{
  width: 50%;}
.jumbotron:hover{background-color:blue;
 transition: 0.5s;
 color: white;
}
.jumbotron{ transition: 0.5s;}

#yt-iframe {
    width: 100%;
    height: 60%;
}
body {
border: 5px solid white;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: blue;
  color: white;
}
.about-section:hover{background-color: black;
 transition: 0.5s;
}

.about-section{transition: 0.5s;}


